

/* Nav div Part */


.top_div{
  background-color: #333;
  overflow: hidden;
  margin-top: 0px;
}

.top_div a{
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.top_div a:hover{
background-color: wheat;
color: black;
}

.top_div a.active{
background-color: wheat;
color: black;
}

.top_favicon{
float: right;
max-width: 100%;
max-height: auto;
}

.contact{
  float: left;
  margin-right: 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.gallery{
  float: left;
  margin-right: 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.about{
  float: left;
  margin-right: 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}


/* End of Nav part */


/* Mountain part */

.name{
color: #fff;
font-size: 6rem;
font-family: "Sacramento", cursive;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
margin-top: auto;

}

.top-button{
  color: #fff;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: translate(-50%, -50%);
  margin-top: 120px;
}

.top-button:hover{
  cursor: pointer;
  font-size: 40px;
  transition-duration: .8s;

}

h2 {
font-size: 2.5rem;

}
.mountain{
  max-width: 100%;
  height: auto;
  display: inline-block;
  margin: 0 auto;
  filter: blur(0px);

  border-radius: 20px;
  
}

.mountain:hover{
  filter: blur(4px);
}
.name:hover{
  filter: blur(2px);
  transition-timing-function: linear;

}

.top-cloud {
position: absolute;
right: 70%;
top: 50px;
background-attachment: scroll;
}

.bottom-cloud {
position: absolute;
left: 70%;
top: 50px;
}


.short-summary{
  font-family: 'Courier New', Courier, monospace;
  margin-top: -50px;
}

p {
color: #000000;
font-size: 30px;
}

#hello_h2{
    font-family: "Sacramento", cursive;
}


/* End of Mountain part */

/* Middle div */


body {
margin: 0;
background-color: white;
text-align: center;
font-family: verdana, sans-serif;
}

.favicon {
width: 50px;
}


.background-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
  }



.My-img {
  width: 30%;
  float: left;
  margin-left: -140px;
  height: 30%;
  margin-top: -10px;
  border-radius: 50px;
  }


/* End of Middle Div */




/* Footer */

.footer {
text-align: center;
float: bottom;
}

#upscroll{
    background-color: white;
    border: 1px solid white;
    cursor: pointer;
}

#upscroll:hover{
    color: white;
}

.copyright{
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}


/* End of Footer */




  
  @media (min-width: 600px) {
    .column {
      width: 50%;
    }
  }
